:root {
  --pad-block: 4px;
  --pad-inline: calc(var(--pad-block) * 2);
  --caret-border: 8px;
  --show-pos: calc(var(--caret-border) + 100% + 4px);
}
// Tooltip as Element.
tooltipap-component,
tooltipel-component {
  &.tooltip {
    --font-size: 1.4rem;
    --color: var(--disabled-l-3);
    display: inline-flex;
    align-items: center;
    gap: 6px;
    overflow: visible;

    &.show {
      &.bubble {
        bottom: var(--show-pos);
        opacity: 1;
      }
      .bubble {
        bottom: var(--show-pos);
        opacity: 1;
      }
    }

    .symbol {
      --symbol-size: calc(var(--font-size) * 0.7);
      width: var(--font-size);
      height: var(--font-size);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 2px solid;
      border-radius: 50%;
      font-size: var(--symbol-size);
      &.info {
        --color: var(--info);
      }
      &.danger {
        --color: var(--danger);
      }
    }
    .content {
      font-size: var(--font-size);
    }
  }
}
// Appendable Tooltip.
.bubble {
  padding: var(--pad-block) var(--pad-inline);
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--caret-border);
  background: var(--bg);
  opacity: 0;
  transition: all 0.2s ease;
  font-weight: bold;
  &.info {
    --bg: var(--info);
    --color: var(--dreidel-d-5);
  }
  &.danger {
    --bg: var(--danger);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: calc(var(--caret-border) * -1);
    left: 50%;
    transform: translateX(-50%);
    opacity: inherit;
    border-inline-start: var(--caret-border) solid transparent;
    border-inline-end: var(--caret-border) solid transparent;
    border-block-start: var(--caret-border) solid var(--bg);
  }
}
