navbar-module.navbar {
  &.top {
    width: 100%;
    height: var(--navbarHeight);
  }
  &.side {
    height: 100%;
    box-shadow: none;
    overflow-y: auto;
    .links {
      flex-direction: column;
      .link {
        width: 100%;
      }
    }
    & ~ .beside-nav {
      --margin: 50px;
      margin-inline-start: var(--margin);
    }
  }
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--navbarShadow);
  background: var(--bg);
  z-index: 100;
  overflow: var(--navbarOverflow);
  transition: all 0.5s ease;
  &.show {
    .links {
      margin-inline-start: 0;
      max-height: 800%;
      overflow: auto;
    }
  }
  .links {
    width: 100%;
    display: var(--linksDisplay);
    margin-inline-start: var(--linksLeft);
    flex-wrap: wrap;
    background: var(--bg);
    transition: all 0.5s ease;
    .link {
      --pad: 0.8rem;
      padding: var(--pad) calc(var(--pad) * 2);
      width: var(--linkWidth);
      display: var(--linkDisplay);
      gap: calc(var(--pad) / 2);
      border-radius: 0;
      box-shadow: none;
      background: var(--bg);
      color: var(--color);
      font-size: 1.2rem;
      text-align: center;
      text-transform: capitalize;
      cursor: pointer;
      transition: all 0.3s ease allow-discrete;
      &:hover,
      &.active {
        scale: none;
        background: var(--color);
        color: var(--bg);
      }
    }
  }

  .hamburger {
    margin: var(--hamMargin);
    height: var(--hamHeight);
    aspect-ratio: 1/0.8;
    cursor: pointer;
    span {
      display: block;
      width: 100%;
      height: calc(var(--hamHeight) / 6);
      background: var(--color);
      border-radius: calc(var(--hamHeight) / 20);
      position: absolute;
      left: 0;
      transition: 0.3s ease;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 10px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 10px;
        }
      }
    }
  }
}
