rating-component.rating {
  --width: 20px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  gap: calc(var(--width) / 10);
  .star {
    width: var(--width);
    aspect-ratio: 1;
    background: var(--disabled);
    clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
    &.filled {
      background: var(--ring);
    }
  }
}
