seperator-component.seperator {
    margin-block: 1rem;
    padding-block: 1rem;
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 2px solid var(--trans-color-medium);
}