top-component.top {
  --pos: 20px;
  width: calc(var(--pos) * 3);
  height: calc(var(--pos) * 3);
  position: fixed;
  bottom: var(--pos);
  right: var(--pos);
  box-shadow: 0 0 12px var(--colorShadow);
  border-radius: 50%;
  background: var(--pandora);
  cursor: pointer;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s ease;

  &:hover {
    background: var(--pandora-d-2);
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  span {
    width: calc(var(--pos) + 2px);
    height: calc(var(--pos) + 2px);
    position: absolute;
    inset: calc(var(--pos) / 4) 0 0 0;
    margin: auto;
    border-inline-start: 4px solid var(--color);
    border-block-start: 4px solid var(--color);
    rotate: 45deg;
  }
}
